<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.telly.mrvector.demo">

  <application
      android:label="@string/app_name"
      android:icon="@drawable/ic_launcher"
      android:theme="@style/AppTheme">
    <activity
        android:name=".BasicInflateActivity"
        android:label="@string/title_activities">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".InflateFromLayoutActivity"
        android:label="@string/title_activities" />
  </application>

</manifest>
